<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button class="btn btn-primary">Am I blue?</button>
  </body>
  <script type="text/javascript" src="/javascript/jquery.min.js" defer></script>
  <script type="text/javascript" src="/javascript/bootstrap.min.js" defer></script>

</html>
